In [241]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
import sklearn as sk
from sklearn.model_selection import train_test_split
eps=np.finfo(float).eps
from binarytree import tree,Node
from sklearn.metrics import classification_report, confusion_matrix ,accuracy_score
from sklearn.tree import DecisionTreeClassifier
from operator import itemgetter
import copy
import collections
from pylab import *
import matplotlib
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [242]:
names=['ID','Age','Experience','Income(in p.a)','Zip','FamilySize','Expenditure(p.m)','EduLevel','MortageValue','Personalloan','SecurityAcc','CD account','InternetBanking','CreditCard']
df=pd.read_csv("LoanDataset/data.csv",names=names)
# df

,ID,Age,Experience,Income(in p.a),Zip,FamilySize,Expenditure(p.m),EduLevel,MortageValue,Personalloan,SecurityAcc,CD account,InternetBanking,CreditCard
0,2701,31,5,39,94590,4,2.20,2,0,0,0,0,1,1
1,2716,42,18,54,90089,1,1.80,1,0,0,0,0,1,0
2,3359,59,35,40,94536,4,0.40,1,0,0,0,0,0,0
3,2492,38,14,80,92868,2,2.70,1,0,0,0,0,1,0
4,937,62,32,19,92109,1,1.50,3,0,0,1,0,0,0
5,4546,61,35,35,90025,2,0.20,3,0,0,0,0,1,0
6,129,38,14,74,92182,2,0.00,1,0,0,1,0,1,0
7,1074,33,8,122,94583,1,0.00,1,0,0,0,0,1,1
8,4426,26,0,164,95973,2,4.00,3,301,1,0,0,1,0
9,1702,29,3,108,94304,4,1.80,2,0,0,0,0,0,0
10,2802,58,34,41,91016,4,0.40,1,177,0,0,0,1,0
11,1928,35,10,62,93106,3,2.30,1,0,0,0,0,0,0
12,1954,49,25,22,90058,4,0.20,1,83,0,0,0,1,0
13,2136,45,15,28,95039,1,0.75,3,0,0,1,0,0,0
14,2449,51,26,42,92103,2,0.60,3,0,0,0,0,1,1
15,3741,59,35,174,92660,1,4.70,1,0,0,0,0,1,1
16,4963,46,20,122,90065,3,3.00,3,0,1,0,1,1,1
17,3014,45,21,183,90029,2,1.40,1,0,0,0,0,1,1
18,3511,38,11,69,92124,3,2.33,2,0,0,0,0,0,0
19,4856,58,32,130,94720,2,2.70,1,0,0,0,0,1,0
20,1468,62,36,29,91107,2,0.70,3,0,0,0,0,0,0
21,2806,37,12,182,94523,3,5.80,3,0,1,0,0,1,0
22,2057,33,8,20,92691,3,1.30,1,83,0,0,0,0,1
23,3725,44,20,39,93108,2,2.10,3,119,0,0,0,0,0
24,42,34,9,60,94122,3,2.30,1,0,0,0,0,0,0
25,1037,53,28,55,94720,4,0.90,1,119,0,0,0,1,1
26,1556,59,33,49,93009,4,1.70,2,104,0,0,0,1,0
27,2536,50,25,21,90274,2,0.70,3,129,0,0,0,0,0
28,2852,61,36,81,95449,3,1.80,2,0,0,0,0,1,0
29,4816,58,32,99,92697,2,1.40,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4469,383,65,41,133,94904,4,2.00,1,0,1,0,0,0,1
4470,3305,42,17,108,95120,3,1.00,1,383,0,0,0,1,0
4471,1533,45,20,55,94588,1,0.30,1,0,0,0,0,1,1
4472,2430,33,7,58,95616,4,2.20,2,0,0,0,0,1,1
4473,3979,43,18,19,92325,2,0.30,2,0,0,0,0,1,0
4474,2609,61,35,79,94024,2,2.00,1,194,0,0,0,1,1
4475,1947,53,23,58,94720,4,2.00,3,0,0,0,0,1,1
4476,1651,31,6,83,92131,4,2.20,2,106,0,0,0,1,0
4477,3083,39,13,40,92122,3,0.90,3,129,0,0,0,1,0
4478,792,55,29,65,94501,4,2.80,2,0,0,0,0,1,0
4479,2524,49,23,100,95403,2,6.30,1,0,0,0,0,0,0
4480,775,55,29,39,92154,1,0.20,1,0,0,0,0,0,1
4481,1633,31,5,93,95032,2,3.10,2,0,1,0,0,1,0
4482,2352,55,31,74,94611,2,3.20,3,0,0,0,0,1,1
4483,3608,41,15,62,90401,3,0.90,3,0,0,0,0,0,0
4484,1910,56,30,101,90048,3,1.70,2,0,0,0,0,0,1
4485,3929,57,33,61,92115,3,2.67,1,0,0,0,0,1,0
4486,265,45,19,38,90840,2,0.70,1,0,0,0,0,0,0
4487,3371,39,13,59,90033,3,0.90,3,199,0,1,0,1,0
4488,1865,61,36,61,92103,2,2.80,1,0,0,0,0,0,0
4489,4738,61,36,85,94998,3,1.80,2,0,0,0,0,0,0
4490,2402,42,17,63,95814,2,2.20,3,0,0,0,0,1,0
4491,982,36,12,142,90064,3,2.30,2,0,1,0,1,1,1
4492,2325,41,11,35,93107,1,0.75,3,114,0,0,0,1,0
4493,1354,50,25,14,94124,1,0.40,3,0,0,0,0,1,1
4494,4845,31,6,81,90840,2,2.50,1,313,0,0,0,0,0
4495,1324,52,26,45,91604,3,0.60,2,0,0,0,0,0,0
4496,4616,37,12,84,93943,4,0.70,3,0,0,0,0,1,0
4497,2320,34,9,198,95819,2,3.00,1,422,0,0,0,1,0
4498,298,55,25,70,93720,3,1.40,3,0,0,0,0,1,0

In [243]:
numeric=['Age','Experience','Income(in p.a)','FamilySize','Expenditure(p.m)','EduLevel','MortageValue']
categoric=['Zip','Personalloan','SecurityAcc','CD account','InternetBanking','CreditCard']

In [244]:
X =df.drop(['Personalloan'],axis=1)
y=df['Personalloan']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
df=pd.concat([X_train,y_train],axis=1)

In [245]:
#Just seperation of class
def separateByClass(df):
#     print(dataset)
    separated = {}
    for index,row in df.iterrows():
        if  row['Personalloan'] in separated:
            separated[row['Personalloan']].append(list(row))
        else:
             separated[row['Personalloan']]=[]
    return separated

In [246]:
# sep=separateByClass(df)
# print(sep)

In [247]:
def mean(numbers):
    return sum(numbers)/float(len(numbers))

In [248]:
# sqrt((summa(x-avg)^2)/n)
def stdev(numbers):
    avg = mean(numbers)
    varianceNum=0.0
    for x in numbers:
        varianceNum=varianceNum+pow(x-avg,2)
    variance=varianceNum/float(len(numbers)-1)
#     variance = sum([pow(x-avg,2) for x in numbers])/float(len(numbers)-1)
    return math.sqrt(variance)

In [249]:
def summarize(dataset):
    summaries={}
    df1=pd.DataFrame(dataset)
    names=['ID','Age','Experience','Income(in p.a)','Zip','FamilySize','Expenditure(p.m)','EduLevel','MortageValue','SecurityAcc','CD account','InternetBanking','CreditCard','Personalloan']
    namesattr=['ID','Age','Experience','Income(in p.a)','Zip','FamilySize','Expenditure(p.m)','EduLevel','MortageValue','SecurityAcc','CD account','InternetBanking','CreditCard']
    df1.columns=names
#     print(df1)
    df1=df1.drop(['Personalloan'],axis=1)
    for attribute in namesattr:
        summaries[attribute]=(mean(df1[attribute]), stdev(df1[attribute]))
#         summaries.append((mean(df1[attribute]), stdev(df1[attribute])))
    return summaries

In [250]:
#har class ke har ek attribute ke liye mean and variance
def partitionByClass(df):
#     print(dataset)
    separated = separateByClass(df)
#     print("seperated")
#     print(seperated)
    summaries = {}
    #seperated by class list
    for classValue, instances in separated.items():
        summaries[classValue] = summarize(instances)
    return summaries

In [251]:
#calculate gaussian distribution
def Gaussian(x, mean, stdev):
    exponent = math.exp(-(math.pow(x-mean,2)/(2*math.pow(stdev,2))))
    return (1 / (math.sqrt(2*math.pi) * stdev)) * exponent

In [252]:
#calculate gaussian distribution of each attrbute in a given row
def getClassProbabilities(summaries,row):
    probabilities = {}
    for classValue, classSummaries in summaries.items():
        probabilities[classValue] = 1
        for attr,meanvar in classSummaries.items():
            mean,stdev=meanvar
            x=row[attr]
            probabilities[classValue] *= Gaussian(x, mean, stdev)
    return probabilities

In [253]:
#most dominating attribute probablity
def getResultClass(summaries,row):
    probabilities = getClassProbabilities(summaries,row)
    if probabilities[0]>probabilities[1]:
        return 0
    else:
        return 1

In [254]:
def predict(summaries, testSet):
    predictions = []
    for index,row in testSet.iterrows():
        result = getResultClass(summaries,row)
        #result is basically in format of 1/0
        predictions.append(result)
    return predictions

In [255]:
# print(df)

In [256]:
summaries = partitionByClass(df)
# print(summaries)
# test model
# print(X_test)
predictions = predict(summaries, X_test)
# print(predictions)
# accuracy = getAccuracy(X_test, predictions)
# print('Accuracy: {0}%').format(accuracy)
print(confusion_matrix(y_test, predictions))  
print(classification_report(y_test,predictions)) 
print("Accuracy: ",accuracy_score(y_test, predictions))

[[700 103]
 [ 16  81]]
              precision    recall  f1-score   support

           0       0.98      0.87      0.92       803
           1       0.44      0.84      0.58        97

   micro avg       0.87      0.87      0.87       900
   macro avg       0.71      0.85      0.75       900
weighted avg       0.92      0.87      0.88       900

Accuracy: 0.8677777777777778

In [258]:
#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = gnb.predict(X_test)
print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred)) 
# Model Accuracy, how often is the classifier correct?
print("Accuracy: ",metrics.accuracy_score(y_test, y_pred))

[[728  75]
 [ 41  56]]
              precision    recall  f1-score   support

           0       0.95      0.91      0.93       803
           1       0.43      0.58      0.49        97

   micro avg       0.87      0.87      0.87       900
   macro avg       0.69      0.74      0.71       900
weighted avg       0.89      0.87      0.88       900

Accuracy: 0.8711111111111111